<div class="pagewrapper">
  <div class="listDiv">
    <ul>

      {{#each todoArr}}
        {{#if done}}{{else}}

          <li>

            <div class="info"><h4>{{description}}</h4>
              <p>created at {{created}}</p></div>
            <div class="editDel">
              <a href="/{{id}}/edit">edit</a>
              <a href="/{{id}}/delete">delete</a>
            </div>
          </li>

        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>